@import "./colors/wallColors.css";

* {
	background: transparent;
	font-family: "Adwaita Sans","FiraCode Nerd Font propo"
}

#backlight-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
    background: none;
}
#backlight-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background: black;
}
#backlight-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background: @on_primary_fixed;
}
